<div class="mb-3"></div>
<div class="container">
  <div class="col-md-12 mb-3">
    <div class=row mb-3></div>
    <div class="row col-md-12 justify-content-md-center">
      <h1 class="text-info mat-display-4">iContas</h1>
    </div>
    <div class="row col-md-12 justify-content-md-center">
      <h1 class="mat-display-1 text-center">Sistema de gerenciamento de contas da família Mendonça</h1>
    </div>
    <div class="row col-md-12 justify-content-md-center">
      <a routerLink="/auth/login">
        <button class="btn btn-info" type="submit">
          <mat-label class="col-md-12">Entrar</mat-label>
        </button>
      </a>
    </div>
    <div class="row col-md-12 justify-content-md-center">
      <img class="rafa-foto" src="assets/img/foto_casa.jpeg">
    </div>
  </div>
</div>
