<div>
  <table mat-table [dataSource]="dataSource" matSort matSortActive="data" matSortDirection="asc">

    <!-- Empresa Column -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
    </ng-container>

    <!-- Conta Column -->
    <ng-container matColumnDef="conta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Conta </th>
      <td mat-cell *matCellDef="let element"> {{element.conta}} </td>
    </ng-container>

    <!-- Data Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Pagamento </th>
      <td mat-cell *matCellDef="let element"> {{element.data | date:'shortDate'}} </td>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL':'symbol' }} </td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="observacoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Observações </th>
      <td mat-cell *matCellDef="let element"> {{element.observacoes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns table-header-bg"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>
</div>
